@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #fafafa;
  --bg-dark: #181824;
}

body {
  background-color: var(--bg-light);
  font-size: 1.125rem;
}

.dark body {
  @apply bg-[var(--bg-dark)];
}

 @layer base {
  .focusable {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 ;
  }
} 

.check-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem; 
  height: 1.5rem; 
  border-radius: 9999px; 
  transition: box-shadow 0.3s;
}

.check-icon.hover-effect::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 1.7rem; 
  height: 1.7rem; 
  border: double 2px transparent;
  border-radius: 80px;
  background-image: linear-gradient(#ffffff, #ffffff), 
  radial-gradient(circle at top left, #57ddff, #c058f3);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  opacity: 0;
  transition: opacity 0.3s;
}

.dark .check-icon.hover-effect::after {
  background-image: linear-gradient(#25273c, #25273c), 
  radial-gradient(circle at top left, #57ddff, #c058f3);
}

.check-icon.hover-effect:hover::after {
  opacity: 1;
}

li:hover .delete-button {
  opacity: 1;
}
